
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual Environment
/venv/
/.idea/

# PyCharm
*.pyc

# Python decouple
/.env

# Google application credentials
/sa.json
