{% extends 'base_nav.html' %}
{% load static %}
{% load profile_extras %}
{% block title %}
    New Equipment - Crystal
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-danger m-0 font-weight-bold">Add Item to
                    Inventory</p>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_item' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="description"><strong>Description</strong></label>
                        <input class="form-control"
                               type="text"
                               placeholder="Enter Equipment Details"
                               name="description" required=""></div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="SKU"><strong>SKU</strong></label>
                                <input
                                        class="form-control"
                                        type="text"
                                        placeholder="Enter SKU"
                                        name="SKU" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="location"><strong>Quantity</strong></label>
                                <input class="form-control"
                                       type="text"
                                       placeholder="Quantity in stock"
                                       name="quantity" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="price"><strong>Price</strong></label>
                                <input
                                        class="form-control"
                                        type="text"
                                        placeholder="Price of Equipment"
                                        name="price" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="category"><strong>Category</strong></label>
                                <select class="custom-select form-control"
                                        required=""
                                        autofocus="" name="category">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor"><strong>Supplier</strong></label>
                        <select class="custom-select form-control"
                                required=""
                                autofocus="" name="supplier">
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-md"
                                type="submit">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}