{% extends 'base_nav.html' %}
{% load static %}
{% load profile_extras %}
{% block title %}
    New Equipment - Crystal
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-danger m-0 font-weight-bold">Add a New
                    Equipment</p>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_equipment' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="description"><strong>Description</strong></label>
                        <input class="form-control"
                               type="text"
                               placeholder="Enter Equipment Details"
                               name="description" required=""></div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="serial"><strong>Serial Number</strong></label>
                                <input
                                        class="form-control"
                                        type="text"
                                        placeholder="Enter Serial Number"
                                        name="serial" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="location"><strong>Office Location</strong></label><select
                                    class="custom-select form-control" required=""
                                    autofocus="" name="location">
                                {% for location in locations %}
                                    <option value="{{ location.id }}">{{ location.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="price"><strong>Price</strong></label>
                                <input
                                        class="form-control"
                                        type="text"
                                        placeholder="Price of Equipment"
                                        name="price" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="category"><strong>Category</strong></label><select
                                    class="custom-select form-control" required=""
                                    autofocus="" name="category">
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor"><strong>Vendor</strong></label>
                        <input class="form-control"
                               type="email"
                               placeholder="Email Address of Vendor (Optional)"
                               name="vendor"></div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm"
                                type="submit">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}