{% extends 'base_nav.html' %}
{% load static %}
{% load profile_extras %}
{% block title %}
    New Office Location - Crystal
{% endblock %}
{% block content %}
    <div class="container">
        <div class="card shadow mb-3">
            <div class="card-header py-3">
                <p class="text-danger m-0 font-weight-bold">Add a New Office
                    Location</p>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_location' %}">
                    {% csrf_token %}
                    <div class="form-group"><label
                            for="name"><strong>Name</strong></label><input
                            class="form-control" type="text"
                            placeholder="Enter Name to Identify Office Location"
                            name="name"></div>
                    <div class="form-group"><label
                            for="address"><strong>Address</strong></label><input
                            class="form-control" type="text"
                            placeholder="Enter address"
                            name="address"></div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label
                                    for="city"><strong>City</strong></label><input
                                    class="form-control" type="text"
                                    placeholder="Enter city" name="city">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group"><label
                                    for="country"><strong>Country</strong></label><input
                                    class="form-control" type="text"
                                    placeholder="Enter Country"
                                    name="country"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm"
                                type="submit">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}