{% extends 'base_nav.html' %}
{% load static %}
{% load humanize %}
{% load profile_extras %}
{% block title %}
    Allocations - Crystal
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Equipment Allocations</h3>
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary font-weight-bold m-0">Equipment Allocations</h6>
            </div>
            <div class="card-body">
                {% if allocations %}
                    {% for allocation in allocations %}
                        <h2 class="small font-weight-bold">{{ allocation.user.first_name }} {{ allocation.user.last_name }}</h2>
                        <h4 class="small font-weight-bold">{{ allocation.equipment }}<span
                                class="float-right">End Date: {{ allocation.end_date|naturalday }}</span></h4>
                        <div class="progress progress-sm mb-3">
                            {% if allocation.start_date|percent_date:allocation.end_date < 50 %}
                                <div class="progress-bar bg-success"
                                     aria-valuenow="{{ allocation.start_date|percent_date:allocation.end_date }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ allocation.start_date|percent_date:allocation.end_date }}%;">
                                    <span class="sr-only">{{ allocation.start_date|percent_date:allocation.end_date }}%</span>
                                </div>
                            {% elif allocation.start_date|percent_date:allocation.end_date < 80 %}
                                <div class="progress-bar bg-warning"
                                     aria-valuenow="{{ allocation.start_date|percent_date:allocation.end_date }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ allocation.start_date|percent_date:allocation.end_date }}%;">
                                    <span class="sr-only">{{ allocation.start_date|percent_date:allocation.end_date }}%</span>
                                </div>
                            {% else %}
                                <div class="progress-bar bg-danger"
                                     aria-valuenow="{{ allocation.start_date|percent_date:allocation.end_date }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"
                                     style="width: {{ allocation.start_date|percent_date:allocation.end_date }}%;">
                                    <span class="sr-only">{{ allocation.start_date|percent_date:allocation.end_date }}%</span>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="text-gray-600">
                        <p>There is no equipment allocation associated with this account.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}