{% extends 'base_nav.html' %}
{% load humanize %}
{% load profile_extras %}
{% block title %}
    {{ item.SKU }} - {{ item.category }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">{{ item.description }}</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-danger m-0 font-weight-bold">Equipment Info</p>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'add_item' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="SKU"><strong>SKU</strong></label>
                                <input class="form-control" type="text"
                                       value="{{ item.SKU }}"
                                       placeholder="Enter SKU"
                                       name="SKU" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="location"><strong>Quantity</strong></label>
                                <input class="form-control" type="text"
                                       value="{{ item.quantity }}"
                                       placeholder="Quantity in stock"
                                       name="quantity" required="">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group">
                                <label for="price"><strong>Price</strong></label>
                                <input class="form-control" type="text"
                                       value="{{ item.price }}"
                                       placeholder="Price of Equipment"
                                       name="price" required=""></div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="category"><strong>Category</strong></label>
                                <select class="custom-select form-control"
                                        required=""
                                        autofocus="" name="category">
                                    {% for category in categories %}
                                        <option
                                                {% if item.category_id == category.id %}
                                                    selected
                                                {% endif %}
                                                    value="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="vendor"><strong>Supplier</strong></label>
                        <select class="custom-select form-control"
                                required=""
                                autofocus="" name="supplier">
                            {% for supplier in suppliers %}
                                <option
                                        {% if item.supplier_id == supplier.id %}
                                            selected
                                        {% endif %}  value="{{ supplier.id }}"
                                >{{ supplier.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-md"
                                type="submit">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="text-danger font-weight-bold
                        m-0">Purchase History</h6>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-danger m-0 font-weight-bold">
                                    Usage History</p>
                            </div>
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}