{% extends 'base_nav.html' %}
{% load static %}
{% load profile_extras %}
{% block title %}
    Messages - Crystal
{% endblock %}
{% block content %}
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#alerts">Alerts</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#inbox">Inbox</a></li>
            <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#sent">Sent</a></li>
        </ul>
        <div class="tab-content bg-white">
            <div class="tab-pane active" role="tabpanel" id="alerts">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Message</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for alert in alerts %}
                                <tr>
                                    <td>{{ alert.date_sent }}</td>
                                    <td>{{ alert.text|truncatechars:20 }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="inbox">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>From</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in inbox %}
                                {% if message.read == True %}
                                    <tr class="table-secondary">
                                        {% else %}
                                    <tr>
                                {% endif %}
                            <td>{{ message.from_user.first_name }} {{ message.from_user.last_name }}</td>
                            <td>{{ message.text|truncatechars:40 }}</td>
                            <td>{{ message.date_sent }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="sent">
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                         aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>To</th>
                                <th>Message</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for message in sent %}
                                <tr>
                                    <td><a href="#">{{ message.to_user.first_name }} {{ message.to_user.last_name }}</a>
                                    </td>
                                    <td>{{ message.text|truncatechars:40 }}</td>
                                    <td>{{ message.date_sent }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}