{% extends 'base_nav.html' %}
{% load static %}
{% load humanize %}
{% load profile_extras %}
{% block title %}
    Requests - Crystal
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4">Inventory Requests</h3>
        {% if requests %}
            {% for request in requests %}
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between
                    align-items-center">
                        <h6 class="text-danger font-weight-bold m-0">
                            {{ request.item }}
                        </h6>
                        <a href="{% url 'fulfil_item_request' request.id %}"
                           class="btn btn-primary">
                            <i class="fa fa-check"></i> Fulfil
                        </a>
                    </div>
                    <div class="card-body">
                        {% if request.status == 'P' %}
                            <p class="text-gray-600">Request made
                                by {{ request.user.get_full_name }}
                                in {{ request.user.employee.location.name }}
                            </p>
                            <p>{{ request.created_at|naturaltime }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-gray-600">
                <p>There are no pending requests.</p>
            </div>
        {% endif %}
    </div>

{% endblock %}